{% extends "base.jinja" %}
{% block content%}

<form method="POST">
    <div class="form-group">
        <label for="start_mol_SMILES">Start Molecule SMIELS</label>
        <input type="text" class="form-control" id="start_mol_SMILES" name="start_mol_SMILES"
            placeholder="Enter SMILES" />
    </div>
    <div>
        <button type="button" class="btn btn-success" id="addTargetButton">
            <i class="fas fa-plus" style="padding-right: 5px;"></i> Add Target
        </button>
    </div>
    <div class="form-group" style="display:none;" id="targetMolInput">
        <label for="target_mol_SMILES">Target Molecule SMILES (optional)</label>
        <input type="text" class="form-control" id="target_mol_SMILES" name="target_mol_SMILES"
            placeholder="Enter SMILES" />
    </div>
    <script>
        var btn = document.getElementById("addTargetButton");
        btn.addEventListener("click", () => {
            btn.style.display = "none";
            document.getElementById('targetMolInput').style.display = "block";
        });
    </script>
    <br />
    <button type="submit" class="btn btn-primary">Next</button>
</form>

{% endblock %}