{% extends "base.jinja" %}
{% block content%}


The goal is to find a reaction pathway that converts the molecule 
on the left into the molecule on the right.

<h1>{{ target_mol_SMILES }}</h1>

{% endblock %}