.image-row {
    display: flex;
    align-items: center;
}

.image-row img {
    margin-right: 15px; /* Adjust the spacing between images */
}

.image-row img:last-child {
    margin-right: 0; /* Remove margin for the last image */
}

.plus-icon {
    margin: 0 20px; /* Adjust the spacing around the plus icon */
}

.bordered-image {
    border: 1px solid darkgray;
}
