{% extends "base.jinja" %}
{% block content%}

<form method="POST">
    <div class="form-group">
        <label for="start_mol_SMILES">Start Molecule SMIELS</label>
        <input type="text" class="form-control" id="start_mol_SMILES" name="start_mol_SMILES" placeholder="Enter SMILES" />
    </div>
    <div class="form-group">
        <label for="target_mol_SMILES">Target Molecule SMILES (optional)</label>
        <input type="text" class="form-control" id="target_mol_SMILES" name="target_mol_SMILES"
            placeholder="Enter SMILES" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Next</button>
</form>

{% endblock %}