@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

:root {
  --primary-color: #f1356d;
  /* Gets dynamically updated depending on route */
}

/* navbar and content */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0px 15px;
  border-bottom: 2px solid #f2f2f2;
}

.navbar h1 {
  color: var(--primary-color);
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  cursor: pointer;
  /* The hover color is updated dynamically in NavBar.js */
}

.navbar a.active {
  border-bottom: var(--primary-color) 1.5px solid;
}

.content {
  max-width: 90%;
  margin: 10px auto;
  padding: 20px;
}

/* component and page specific styles */

.primary-colored-button {
  background: var(--primary-color);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.primary-colored-button:hover {
  filter: brightness(0.95);
}

.chem-draw-editor {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.clickable-mol-image:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.mol-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

}

/* playground - main page */
.two-panel-content {
  padding-top: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.action-panel {
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-panel {
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.run-reactions-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* playground extra reactant picker */
.extra-reactant-button {
  background: #fff;
  color: #333;
  border: 1px solid #333;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin: 8px 0;
}

/* playground reaction/ product picker */
.reaction-or-product-picker {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.reaction-button {
  background: #fff;
  color: #333;
  border: 1px solid #333;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 500px;
  margin: 8px 0;
}

.extra-reactant-button:hover,
.reaction-button:hover {
  background: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}

.multi-product-text {
  padding-top: 8px;
}

/* solver mode */
.pre-solver-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0;
}

.pre-solver-double-arrow-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  gap: 10px;
  align-items: center;
  justify-items: center;
}

.grid-starting-text,
.grid-target-text {
  justify-self: center;
}

.grid-starting-button,
.grid-target-button {
  justify-self: center;
}

.grid-double-arrow-placeholder,
.grid-button-placeholder {
  visibility: hidden;
}

.solver-initial-display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.solver-results-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solver-mol-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}