@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/* navbar and content */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0px 15px;
  border-bottom: 2px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
  cursor: pointer;
}

.navbar a.active {
  border-bottom: #f1356d 1.5px solid;
}

.content {
  max-width: 90%;
  margin: 10px auto;
  padding: 20px;
}

/* component and page specific styles */

/* chem draw editor */
.chem-draw-editor {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* mol image related */
.clickable-mol-image:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.mol-row {
  display: flex;
  justify-content: center;
  align-items: center;

}

/* playground - main page */
.two-panel-content {
  padding-top: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.action-panel {
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-panel {
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.run-reactions-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.run-reactions-div button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.run-reactions-div button:hover {
  background-color: #f1356da9;
}

/* playground reaction/ product picker */
.reaction-or-product-picker {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.reaction-or-product-picker button {
  background: #fff;
  color: #333;
  border: 1px solid #333;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 500px;
  margin: 8px 0;
}

.reaction-or-product-picker button:hover {
  background: #f1356d;
  color: #fff;
  border-color: #f1356d;
}
.multi-product-text {
  padding-top: 8px;
}