{#<form method="POST" action="/playground-mode/process-added-reactants">#}
{#</form>#}
<div id="extraReactantsDiv">
    <div class="form-group">
        {% for prompt in prompts %}
            <label for="prompt">{{ prompt }}</label>
            <div class="input-group mb-3">
                <input type="text"
                       class="form-control"
                       id="extra_reactant_smiles_{{ loop.index0 }}"
                       name="extra_reactant_smiles"
                       placeholder="Enter SMILES"
                       aria-label="Enter SMILES"
                       aria-describedby="button-addon2">
            </div>
        {% endfor %}
    </div>
    <div style="text-align: center">
        <button type="button"
                class="btn btn-secondary"
                id="addedReactantsSubmitButton"
                onclick="processAddedReactants({{ prompts|length }})">Next</button>
    </div>
</div>
