{% extends "base.jinja" %}
{% block content %}
    <style>
        .parent-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .text {
            text-align: left;
            margin-bottom: 10px;
            width: 100%;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .image {
            flex: 1;
            text-align: center;
        }

        .image img {
            max-width: 100%;
            height: auto;
        }
    </style>
    {# For multiple products on the same line #}
    <style>
        .image-row {
          display: flex;
          align-items: center;
        }

        .image-row img {
          margin-right: 15px; /* Adjust the spacing between images */
        }

        .image-row img:last-child {
          margin-right: 0; /* Remove margin for the last image */
        }

        .plus-icon {
          margin: 0 20px; /* Adjust the spacing around the plus icon */
        }

        .bordered-image {
            border: 2px solid black;
        }
    </style>
    <div class="parent-container" id="parentContainer"></div>
    <script>
        // Displays the valid reactions for a molecule.
        // Called from this script
        async function displayReactions() {
            const response = await fetch("/playground-mode/choose-reaction", {
                method: "GET",
            });
            updateContent(await response.text());
        }

        // Displays the products that result from running the chosen reaction
        // Called from reaction_playground_choose_reaction.jinja
        async function displayProducts(choice) {
            const response = await fetch("/playground-mode/display-products", {
                method: "POST",
                body: new URLSearchParams({choice: choice}),
            });
            updateContent(await response.text());

            if (onlyOneProductDisplayed()) {
                await chooseProduct(0);
            }
        }

        async function chooseProduct(productIndex) {
            await fetch("/playground-mode/choose-product", {
                method: "POST",
                body: new URLSearchParams({product_index: productIndex}),
            });
            await displayReactions()
        }

        // Helper functions
        function updateContent(html){
            document.getElementById("parentContainer").innerHTML += html
        }

        function onlyOneProductDisplayed() {
            let result = false;
            if ($('#productsDiv').length) {
                // Select images inside the div with id 'productsDiv' whose ids start with 'product_'
                const numberOfImages = $('#productsDiv img[id^="product_"]').length;
                result = numberOfImages === 1;
            }
            return result;
        }

        // Initial call to start loop
        displayReactions()
    </script>
{% endblock %}
