{% extends "base.jinja" %}
{% block content %}
    <style>
        .parent-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .text {
            text-align: left;
            margin-bottom: 10px;
            width: 100%;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .image {
            flex: 1;
            text-align: center;
        }

        .image img {
            max-width: 100%;
            height: auto;
        }
    </style>
    {# For multiple products on the same line #}
    <style>
        .image-row {
          display: flex;
          align-items: center;
        }

        .image-row img {
          margin-right: 15px; /* Adjust the spacing between images */
        }

        .image-row img:last-child {
          margin-right: 0; /* Remove margin for the last image */
        }

        .plus-icon {
          margin: 0 20px; /* Adjust the spacing around the plus icon */
        }

        .bordered-image {
            border: 2px solid black;
        }
    </style>
    <div class="parent-container">
        <div>
            <img src="data:image/png;base64, {{ current_mol }}"
                 class="card-img-top"
                 alt="Current molecule">
        </div>
        {% if possible_reactions %}
            Compatible reactions are listed below. Choose a reaction:
        {% else %}
            There are no compatible reactions.
        {% endif %}
        <form method="post" id="reactionForm">
            {% for reaction in possible_reactions %}
                <button type="button"
                        class="btn btn-outline-secondary btn-lg btn-block"
                        onclick="submitForm({{ loop.index0 }})">{{ reaction.name }}</button>
            {% endfor %}
            {% if history_exists %}
                <button type="button"
                        class="btn btn-outline-danger btn-lg btn-block"
                        onclick="submitForm('back')">Back</button>
            {% endif %}
            <input type="hidden" name="choice" id="choiceInput">
        </form>
        <div id="newContent"></div>
    </div>
    <script>
        async function submitForm(choice) {
            // Use Fetch API to send a POST request to the server
            const response = await fetch("/playground-mode/display-products", {
                method: "POST",
                body: new URLSearchParams({choice: choice}),
            });

            // Update the new content without refreshing the page
            document.getElementById("newContent").innerHTML = await response.text();

        }
    </script>
{% endblock %}
