{% extends "base.jinja" %}
{% block content%}
<style>
    .parent-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text {
        text-align: left;
        margin-bottom: 10px;
        width: 100%;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image {
        flex: 1;
        text-align: center;
    }

    .image img {
        max-width: 100%;
        height: auto;
    }
</style>
<div class="parent-container">
    <div>
        The goal is to find a reaction pathway that converts
        the starting molecule into the target molecule.
    </div>
    <div class="container">
        <div class="card text-center border-0" style="width: 18rem;">
            <img src="data:image/png;base64, {{ start_mol }}" class="card-img-top" alt="Starting molecule">
            <div class="card-body">
                <p class="card-text">Starting Molecule</p>
            </div>
        </div>

        <div class="image">
            <span class="material-icons">
                keyboard_double_arrow_right
            </span>
        </div>
{#        <div class="card text-center border-0" style="width: 18rem;">#}
{#            <img src="{{solver_images_dir ~ '/target_mol.png'}}" class="card-img-top">#}
{#            <div class="card-body">#}
{#                <p class="card-text">Target Molecule</p>#}
{#            </div>#}
{#        </div>#}
    </div>
    {% if path_found %}
    {{ num_steps }}-step synthetic pathway found!
    {% else %}
    No synthetic pathway found in {{ max_num_solver_steps }} steps. It is also possible that no synthetic
    pathway exists at all.
    {% endif %}
    <div>
        <br />
        {% if path_found %}
        This is your starting molecule:
        <div class="parent-container">

            {% for step in range(num_steps) %}
                {% for img_fp in  [step|string] %}
                <div class="card text-center border-0" style="width: 18rem;">
                    <img src="{{img_fp}}" class="card-img-top">
                </div>

                <div class="container">
                    Step {{ step + 1}}

                    <div class="image">
                        <span class="material-icons">
                            arrow_downward
                        </span>
                    </div>

                    {{ reaction_names[step] }}
                </div>

                {% endfor %}
            {% endfor %}

            <div class="card text-center border-0" style="width: 18rem;">
                <img src="{{solver_images_dir}}/target_mol.png" class="card-img-top">
            </div>

            {% endif %}
        </div>

    </div>
    <br />
</div>
{% endblock %}