<div id="currentMolDiv">
    <img src="data:image/png;base64, {{ current_mol }}" class="card-img-top" alt={{ current_mol_smiles }}>
</div>
<span id="reactionSummary">
    {% if possible_reactions %}
        Compatible reactions are listed below. Choose a reaction:
    {% else %}
        There are no compatible reactions.
    {% endif %}
</span>
<form method="post" id="reactionForm">
    {% for reaction in possible_reactions %}
        <button type="button"
                class="btn btn-outline-secondary btn-lg btn-block"
                onclick="displayProducts({{ loop.index0 }})">{{ reaction.name }}</button>
    {% endfor %}
</form>
